body {
    overflow-x: hidden;
    font-family: "Lato", sans-serif; 
}

a:hover, a {
    text-decoration: none;
    color: white;
}

nav{
    text-align: right;
    font-weight: 700;
    text-transform:uppercase;
    letter-spacing: 0.1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-top: 0;
}
.navbar{
    color: #ffffff;
    background: rgba(122, 84, 52, 0.68) !important;
    margin-bottom:0;
}
h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 0;
    color: white;
    margin: 0;
}

.home-detail {
    background-image: url(../hobby/images/Screenshot\ 2024-03-19\ 014156.png); 
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}



















/* Laptop/small screens */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    main {
        width: 90%;
    }
    img {
        width: 50%;
    }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        width: 90%;
        font-size: 18px;
    }
    img {
        width: 60%;
    }
}

/* Mobile */
@media screen and (min-width: 370px) and (max-width: 600px) {
    main {
        width: 85%;
        font-size: 16px;
    }
    img {
        width: 50%;
    }
}