body {
    background-color: antiquewhite;
    overflow-x: hidden;
    font-family: "Lato", sans-serif; 
}

a:hover, a {
    text-decoration: none;
    color: white;
}

nav{
    text-align: right;
    font-weight: 700;
    text-transform:uppercase;
    letter-spacing: 0.1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
}
.navbar{
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6) !important;
    margin-bottom:0;
}
h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 0;
    color: white;
}

.home-detail {
    background-image: url(../hobby/images/craiyon_cave1.png); 
    background-size:contain;
    margin-top: 0;
}
