body{
    background-color:lavenderblush; 
    text-align: center;
    color:rgb(8, 8, 8);;
    font-family: Georgia;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
/*https://coolors.co/fff0f5-ffc5d0-f7d6d0-fb6090-821d30*/
a{
color:deeppink;
text-decoration:none;
}
a.hover{
    color:lavenderblush;
}
main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
h2, h3{
    text-align: center;
}
img{
 width: 100%
}
figure{
    text-align: center;
    font-style:italic; 
}
p{
    text-align: center;
}
nav{
    font-size: 18px; 
}
.design {
    font-size: 16.5px;
}
a:hover{
    text-decoration: none;
    color: white;
}
footer{
    margin-top: auto;
}
.crap {
    list-style-type: none;
    font-size: .165in; 
    margin-left: 35%;
    margin-right: 40%;
}
.letter{
    font-size: .25in
}
.web{
    color: rgb(8, 8, 8);
    text-decoration: underline;
}
.good_bad{
    text-align: left;
}