body{
    background-color:lavenderblush;
    color:black;
    font-family: Georgia;
}
a{
    color: deeppink; 
    text-decoration:underline;
}

table tr:nth-child(even) {
    background-color:pink; 
    color: black;
}
table tr:nth-child(odd){
    background-color:ghostwhite;
    color: black;

}
table, th, td, tr{
    border: 1.5px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 1px 4px 1px 4px;
}
h1, h2, h3, figcaption{
    text-align: center;
}
footer{
    text-align: center;
}
.table{
    margin-left: auto; 
    margin-right: auto;
}
ol{
    font-size: 20px;
}
nav{
    font-size: 18px; 
    text-align: center;
}
.design {
    font-size: 16.5px;
}